body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(90deg, #1f63ae, #2a84e8);
}

.Encabezado {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-metrokilos img {
    width: 80px;
    height: 80px;
    padding: 8px;
}

.buscador {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 198px;
}

.icon-search {
    position: absolute;
    left: 45px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.input {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    padding-left: 40px;
    border: 2px solid transparent;
    margin-left: 32px;
    border-radius: 16px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #b9b9b9;
}
.input:focus, input:hover {
    outline: none;
    border-color: rgba(21, 30, 2, 0.8);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(21,30,2 / 10%);
}

.nav {
    color: #f4f4f4;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    padding: 0 80px;
}

.nav a{
    text-decoration: none;
    color: #f4f4f4;
    transition: all 0.3s ease;
}

.nav a:hover {
    background-color: #154274;
    transform: translateY(-0.7rem);
    padding: 10px;
    text-shadow: 0 0 10px #2a84e8;
    border-radius: 8px;
}

.catalogo img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    box-shadow: 0 1px 1rem #b5d4f7;
    transition: all 0.3 ease;
}

.catalogo {
    width: 85%;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 16px;
    justify-items: center;
    justify-content: center;
}

.catalogo:hover img:not(:hover) {
    filter: blur(1px) brightness(0.7);
    transform: scale(0.95);
}

.Menu-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.dropdow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

.dropdow>span {
    padding: 1em;
    width: 250px;
    border-radius: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-in;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-height: min-content;
    top: 110%;
    z-index: 1000;
    text-align: center;
    left: 0;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s ease-in;
    
}

.dropdow:hover span {
    color: white;
    transition: 0.5s;
}

.dropdow:hover .dropdown-content {
    display: block;
}

